extends ../layout
block title
  title #{title}
block content      
  body.background_reset
    .container
      .modal-dialog.modal-sm(style="min-width:220px;text-align:center")
        h3.font_italic CSS Magic
      h4 Pure CSS
      ul
        li
          a(href="http://pattle.github.io/simpsons-in-css/",target="_blank") The Simpsons in CSS
        li
          a(href="http://info.9iphp.com/18-things-built-with-css/",title="http://www.hongkiat.com/blog/built-with-css/",target="_blank") 18-things-built-with-css
        li
          a(href="http://nicolasgallagher.com/pure-css-gui-icons/demo/",target="_blank") Pure css icon
        li
          a(href="http://cssmenumaker.com/pure-css-menus",target="_blank") Pure css menus
        li
          a(href="http://saeedalipoor.github.io/icono/",target="_blank") Pure css icono
        li
          a(href="http://one-div.com/",target="_blank") Pure css one div
        li
          a(href="http://www.designzzz.com/free-pure-css-icons/",target="_blank") Resources
        li
          a(href="http://www.hongkiat.com/blog/css-3d-shape-tridiv/",target="_blank") CSS 3D
      h4 CSS Framework
      ul
        li
          a(href="https://wordpress.org/themes/",target="_blank") Theme Directory
        li
          a(href="http://purecss.io/grids/",target="_blank") Pure css 
      h4 CSS Standards
      ul
        li
          a(href="http://www.w3.org/standards/techs/css#w3c_all",target="_blank") w3c
        li
          a(href="http://www.chinaw3c.org/",target="_blank") w3cChina
      h4 CSS Forum
      ul
        li
          a(href="http://css-discuss.incutio.com/wiki/Main_Page",target="_blank") Css Discuss
        li
          a(href="http://learnlayout.com/toc.html",target="_blank") Css layout
        li
          a(href="http://www.w3ctech.com/topic/259",target="_blank") W3c tech
      h4 CSS Github
      ul
        li
          a(href="https://github.com/css-conf/1/issues?page=2&q=is%3Aopen+is%3Aissue",target="_blank") Css conf
      h4 CSS Blog
      ul
        li
          a(href="http://melonh.com/sharing/slides.html?file=high_performance_animation#/71",target="_blank") melonh
        li
          a(href="http://jankfree.org/",target="_blank") Jankfree
      h4 CSS Conf
      ul
        li
          a(href="http://css.w3ctech.com/",target="_blank") 中国css开发者大会
        li
          a(href="http://www.w3.org/conf/",target="_blank") w3c开发者大会
        li
          a(href="http://2014.cssconf.com.au/",target="_blank") css conf au

  script(data-main="/pagejs/app", src='/assets/require.js', type='text/javascript')


  block page_script
