extends layout
block title
  title #{title}
block content
  .container
    .row
      input.form-control.search(type="search",placeholder="Best Code Search")
      button#search.btn.btn-success.search_submit(type="button") Search
      button#add_chapter.btn.btn-success.search_submit(type="button") 
        i.fa.fa-plus(style="cursor:pointer")
            //-         li(style="margin-top:15px;")
            //- i#post_plus.fa.fa-plus(style="cursor:pointer")


    .row
      table(style="margin-top:30px")
        tbody
          for blog in data
            tr
              td 
                a #{blog.post_title}


      nav
        ul.pagination
          li
            a(href="#") &laquo;
            a(href="#") 1
            a(href="#") 2
            a(href="#") 3
            a(href="#") 4
            a(href="#") &raquo;
block page_script
  script(src='/pagejs/app_index.js', type='text/javascript')
