extends layout
block title
  title #{title}
block content
  .container(ng-app="app")
    //- .search_wrapper.absolute_position2
    //-   ul.nav.navbar-nav
    //-     li
    //-       input#index_search.form-control(type="search",placeholder="Search")

    .row(style="min-height:500px",ng-controller="PhoneListCtrl")
      .col-sm-8
        ul.nav.nav-sidebar(style="margin-top:30px",ng-init="ddd=[1,2,34,4]")
          li.index_li.col-md-4(placement="top",ng-repeat="phone in phones",data-toggle="popover",data-original-title="中国近代史",data-content="<header>[美] 徐中约 / 世界图书出版公司</header>《中国近代史》自1970年面世后五次")
            .img
              img.img(src="{{phone.img}}") 
            a(href="{{phone.href}}",target="_blank") {{phone.name}}
        nav
          ul.pagination
            li
              a(href="#") &laquo;
              a(href="#") 1
              a(href="#") 2
              a(href="#") 3
              a(href="#") 4
              a(href="#") &raquo;

      .col-sm-4


block page_script
  script(src='/pagejs/app_index.js', type='text/javascript')
