doctype html
html

  head
    meta(charset='utf-8')
    block title 
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(content='description', name='Hello,Welcome to Ivan Home')
    meta(content='Nick Ma', name='Nick.Ma')
    link(rel='shortcut icon', href='/img/favicon.png')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/assets/bs3/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/fa4/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/app.css', rel='stylesheet', type='text/css')
  nav.navbar-top.navbar.navbar-inverse.navbar-fixed-top
    .container
      ul.nav.navbar-nav(style="width:100%")
        li
          h2(style="font-weight:bold;font-style:italic") CodeLife

  body
    block content
    nav.navbar-bottom.navbar.navbar-inverse.navbar-fixed-bottom
      .container
        ul.nav.navbar-nav(style="width:100%")
          li(style="width:33%")
            h4 Your Need Help
            ul.nav.navbar-nav
              li
                a.a_style(href="http://resume.github.io/?MYSHLIFE",rel="",target="_blank") navigator
                a.a_style(href="https://osrc.dfm.io/MYSHLIFE/",target="_blank") QA

          li(style="width:33%")
            h4 About Me
            ul.nav.navbar-nav
              li
                a.a_style(href="http://resume.github.io/?MYSHLIFE",rel="",target="_blank") resume
                a.a_style(href="https://osrc.dfm.io/MYSHLIFE/",target="_blank") introduction

          li(style="width:33%")
            h4 Links
            ul.nav.navbar-nav
              li
                a.a_style(href="https://www.github.com/MYSHLIFE",rel="",target="_blank") github
                a.a_style(href="http://blog.csdn.net/a13501426",target="_blank") csdn
  #confirmModal.modal.bs-example-modal-sm(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel",aria-hidden="true",style="min-width:220px;text-align:center")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h4.modal_message.modal-title.text-center  消息头部
        .modal-body  
          .row
            .col-xs-6
              button#btn_cancel.btn.btn-primary.text-center(type="button",style="min-width:100px") 取消
            .col-xs-6
              button#btn_ok.btn.btn-primary.text-center(type="button",style="min-width:100px") 确认
  #alertModal.modal.bs-example-modal-sm(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel",aria-hidden="true",style="min-width:220px;text-align:center")
    .modal-dialog.modal-sm
      .modal-content
        .modal-body  
          h4.modal_message.modal-title.text-center  消息主体
    

    script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.1.0/less.min.js" type="text/javascript")
    script(src='/assets/jquery/jquery.min.js', type='text/javascript')
    script(src='/assets/bs3/js/bootstrap.min.js', type='text/javascript')
    block page_script
