doctype html
html

  head
    meta(charset='utf-8')
    block title 
    meta(content='width=device-width, initial-scale=1.0', name='viewport')
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(content='description', name='Hello,Welcome to Ivan Home')
    meta(content='Ivan Peng', name='Ivan.Peng')
    link(rel='shortcut icon', href='/img/favicon.png')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/assets/bs3/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/fa4/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/assets/app.css', rel='stylesheet', type='text/css')
      
  body
    nav.navbar-top.navbar.navbar-inverse.navbar_top
      .container
        ul.nav.navbar-nav(style="width:100%")
          li
            h2(style="font-weight:bold;font-style:italic") CodeJS
          ul.nav.navbar-nav(style="margin-left:100px")
            li(class="dropdown") 
              a(href="#" class="dropdown-toggle" data-toggle="dropdown") JavaScript
                span(class="caret")
              ul.nva_head_background(class="dropdown-menu" role="menu")
                li 
                  a js前沿
                li 
                  a js思想
                li 
                  a js资源
                li 
                  a js大牛
                li 
                  a js专家
                li 
                  a js科学家
                li 
                  a 前端架构

            li(class="dropdown") 
              a(href="#" class="dropdown-toggle" data-toggle="dropdown") NodeJs
                span(class="caret")
              ul.nva_head_background(class="dropdown-menu" role="menu")
                li 
                  a nodejs前沿
                li 
                  a nodejs思想
                li 
                  a nodejs资源
                li 
                  a nodejs大牛
                li 
                  a nodejs专家
                li 
                  a nodejs科学家
            li(class="dropdown") 
              a(href="#" class="dropdown-toggle" data-toggle="dropdown") FrontFrameWork
                span(class="caret")
              ul.nva_head_background(class="dropdown-menu" role="menu")
                li 
                  a {css} less
                li 
                  a {css} bootstrap
                li 
                  a {css} yui
                li 
                  a {html} jade
                li 
                  a {html} handlebar
                li 
                  a {html5} handlebar
                li 
                  a {js} backbonejs
                li 
                  a {js} angularjs
                li 
                  a {js} emberjs
                li 
                  a {js} knockoutjs
                li 
                  a {js} spinejs
                li 
                  a {js} batmanjs
                li 
                  a {js} jquery

            li(class="dropdown") 
              a(href="#" class="dropdown-toggle" data-toggle="dropdown") BackFrameWork
                span(class="caret")
              ul.nva_head_background(class="dropdown-menu" role="menu")
                li 
                  a expressjs
                li 
                  a sailsjs
                li 
                  a totaljs
                li 
                  a partialjs
                li 
                  a koajs
                li 
                  a locomotivejs
                li 
                  a flatironjs
                li 
                  a geddyjs
                li 
                  a express-io
                li 
                  a socket stream
            li(class="dropdown") 
              a(href="#" class="dropdown-toggle" data-toggle="dropdown") Tools
                span(class="caret")
              ul.nva_head_background(class="dropdown-menu" role="menu")
                li 
                  a asyncjs
                li 
                  a underscorejs
                li 
                  a lodash
                li 
                  a moment
                li 
                  a datatable
                li 
                  a highchart
            li(class="dropdown") 
              a(href="#" class="dropdown-toggle" data-toggle="dropdown") More...
                span(class="caret")
              ul.nva_head_background(class="dropdown-menu" role="menu")
                li 
                  a 社区
            li
          //- ul.nav.navbar-nav
          //-   li
          //-     input(type="search",placeholder="Search")
          //-   //- button#add_chapter.btn.btn-default(type="button") 
          //-   li
          //-     i.fa.fa-search(style="cursor:pointer")


          ul.nav.navbar-nav.absolute_position
            li
              a.use_group(href="#",data-type="sign_up") sign_up
            li
              a.use_group(href="#",data-type="log_in") log_in
            //- li(style="margin-top:15px;")
            //-   i#post_plus.fa.fa-plus(style="cursor:pointer")
    block content
    nav.navbar.navbar-inverse.navbar_bottom
      .container
        ul.nav.navbar-nav(style="width:100%")
          li(style="width:33%")
            h4 Your Need Help
            ul.nav.navbar-nav
              li
                a.a_style(href="http://resume.github.io/?MYSHLIFE",rel="",target="_blank") navigator
                a.a_style(href="https://osrc.dfm.io/MYSHLIFE/",target="_blank") QA

          li(style="width:33%")
            h4 About Me
            ul.nav.navbar-nav
              li
                a.a_style(href="http://resume.github.io/?MYSHLIFE",rel="",target="_blank") resume
                a.a_style(href="https://osrc.dfm.io/MYSHLIFE/",target="_blank") introduction

          li(style="width:33%")
            h4 Links
            ul.nav.navbar-nav
              li
                a.a_style(href="https://www.github.com/MYSHLIFE",rel="",target="_blank") github
                a.a_style(href="http://blog.csdn.net/a13501426",target="_blank") csdn
      .container
        .doc(style="display:block;text-align:center")          
          span 湘ICP备15000090号
          a(href="http://www.xca.gov.cn/",target="_blank")
            img(src="/assets/imgs/copy_rignt_24.png")
    form.container(id="formRegist")
      .container.login_background.login(style="display:none")
        .modal-dialog.modal-sm(style="min-width:220px;text-align:center")
          .modal-content
            .modal-header
              //- .row#login
              //-   .col-xs-6
              //-     h4 注册账号 
              //-   .col-xs-6
              //-     a.btn.btn-primary.form-control(style="min-width:100px") 登录
              //-       i.fa.fa-fw.fa-arrow-circle-right
              button.close(style="margin-top:-18px;margin-right:-10px",type='button', data-dismiss='modal', aria-hidden='true') ×              
              h4.modal_message.modal-title.text-center  登录
            .modal-body#login_form 
              .row(style="margin-top:2px")
                .col-xs-12
                   input.form-control#login_name(type="text",name="login_name",style="min-width:100px",placeholder="用户名/邮箱") 
              .row(style="margin-top:2px")
                .col-xs-12
                   input.form-control#login_password(type="password",name="login_password",style="min-width:100px",placeholder="密码") 
              .row(style="margin-top:2px")
                .col-xs-12
                   button#btn_login.btn.btn-primary.form-control(type="button",style="min-width:100px") JS登录
              .row#login_ok_msg(style="margin-top:2px;display:none")
                .col-xs-12
                   h4(style="color:red")  恭喜您,登录成功
              .row#login_err_msg(style="margin-top:2px;display:none")
                .col-xs-12
                   h4(style="color:red")  登录失败
      .container.login_background.regist(style="display:none")
        .modal-dialog.modal-sm(style="min-width:220px;text-align:center")
          .modal-content
            .modal-header              
              button.close(style="margin-top:-18px;margin-right:-10px",type='button', data-dismiss='modal', aria-hidden='true') ×              
              h4.modal_message.modal-title.text-center  注册
            .modal-body#regist_form 
              .row
                .col-xs-6
                  input.form-control#firstname(type="text",name="firstname",required,style="min-width:100px",placeholder="姓") 
                .col-xs-6
                  input.form-control#lastname(type="text",name="lastname",required,style="min-width:100px",placeholder="名") 
              .row(style="margin-top:2px")
                .col-xs-12
                   input.form-control#email(type="text",name="email",required,style="min-width:100px",placeholder="邮箱") 
              .row(style="margin-top:2px")
                .col-xs-12
                   input.form-control#password(type="password",name="password",required,style="min-width:100px",placeholder="密码") 
              .row(style="margin-top:2px")
                .col-xs-12
                   input.form-control#password_c(type="password",name="password_c",required,style="min-width:100px",placeholder="确认密码") 
              .row(style="margin-top:2px")
                .col-xs-12
                   button#btn_regist.btn.btn-primary.form-control(type="button",style="min-width:100px") JS注册
              .row#regist_ok_msg(style="margin-top:2px;display:none")
                .col-xs-12
                   h4(style="color:red")  恭喜您,注册成功
              .row#regist_err_msg(style="margin-top:2px;display:none")
                .col-xs-12
                   h4(style="color:red")  注册失败
    
  #confirmModal.modal.bs-example-modal-sm(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel",aria-hidden="true",style="min-width:220px;text-align:center")
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          h4.modal_message.modal-title.text-center  消息头部
        .modal-body  
          .row
            .col-xs-6
              button#btn_cancel.btn.btn-primary.text-center(type="button",style="min-width:100px") 取消
            .col-xs-6
              button#btn_ok.btn.btn-primary.text-center(type="button",style="min-width:100px") 确认
  #alertModal.modal.bs-example-modal-sm(tabindex="-1",role="dialog",aria-labelledby="mySmallModalLabel",aria-hidden="true",style="min-width:220px;text-align:center")
    .modal-dialog.modal-sm
      .modal-content
        .modal-body  
          h4.modal_message.modal-title.text-center  消息主体
    

  //- script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.1.0/less.min.js" type="text/javascript")
  //- script(src='/assets/jquery/jquery.min.js', type='text/javascript')
  script(src='/assets/jquery/jquery.js', type='text/javascript')
  script(type="text/javascript", src="/assets/jquery/plugin/jquery.form.js")
  script(type="text/javascript", src="/assets/jquery/plugin/validation/dist/jquery.validate.min.js")
  script(src='/assets/bs3/js/bootstrap.min.js', type='text/javascript')
  script(src='/angularjs/angular.min.js', type='text/javascript')
  block page_script
