extends layout
block title
  title #{title}
block content      
  body.background_reset
    .container
      .modal-dialog.modal-sm(style="min-width:220px;text-align:center")
       h4.font_italic  Welcome to Ivan Home!
      span.sign Inspire yourself
      span.sign Aug,17 2015 By @Ivan 
    

  //- script(src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.1.0/less.min.js" type="text/javascript")
  //- script(src='/assets/jquery/jquery.min.js', type='text/javascript')
  //- script(src='/assets/bs3/js/bootstrap.min.js', type='text/javascript')
  //- script(src='/angularjs/angular.min.js', type='text/javascript')
  script(data-main="/pagejs/app", src='/assets/require.js', type='text/javascript')


  block page_script
