extends ../layout
block title
  title #{title}
block content      
  body.background_reset
    .container
      .modal-dialog.modal-sm(style="min-width:220px;text-align:center")
        h3.font_italic Daily
      h4 Daily-2015-08-29
      ul
        li
          p Go to D-future conference,too far, too tired
      h4 Daily-2015-08-30
      ul
        li
          p Research ebay's org arch and tech arch
      h4 Daily-2015-08-31
      ul
        li
          p Rent house
      h4 Daily-2015-09-01
      ul
        li
          p Rent house

  script(data-main="/pagejs/app", src='/assets/require.js', type='text/javascript')


  block page_script
