nav .container {
	color: white
}

/* log_in or sign_up */
.absolute_position {
	position: absolute;
	right: 2px
}
.lay_out_search {
	height: 50px;
	float: left;
	margin-top: 30px
}

/* search input */
.search {
	font-size: 20px;
	position: relative;
	width: 53%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	.lay_out_search;
}

/* search button */
.search_submit {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	.lay_out_search;
}

/* a tag style */
.a_style {
	padding-left: 0px !important;
}